*{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    /* box-sizing: border-box; */
}
:root{
    --batman: #ffea00;
}
body{
    background-color: var(--batman);
}

.github--button{
    color: #000000;
    left: 5vmin;
    top: 5vmin;
    font-size: 5vmin;
    position: sticky;
}


.batman-container{
    width: 63.7vmin;
    height: 41vmin;
    border-radius: 100%;
    border: 3vmin solid #000000;
}
.batman{
    width: 58.8vmin;
    height: 35.6vmin;
    background-color: #000000;
    border-radius: 100%;
    /* z-index: 999999; */
}

[class*=arm]{
    background-color: var(--batman);
    width: 11.5vmin;
    height: 11.5vmin;
    border-radius: 100%;
}
.arm-left{
    left: -20vmin;
    top: -23vmin;
}
.arm-right{
    left: 20vmin;
    top: -23vmin;
}

[class *= ear]{
    height: 6vmin;
    width: 5vmin;
    top: -30vmin;
    background-color: var(--batman);
}
.left-ear{
    left: -13.5vmin;
}

.right-ear{
    left: 13.5vmin;
}

[class *= head-]{
    height: 2.2vmin;
    width: 4vmin;
    top: -33.3vmin;
    background: var(--batman);
}
.head-right{
    left: 4.5vmin;
    transform: rotate(-236deg);
}

.head-left{
    left: -4.5vmin;
    transform: rotate(236deg);
    
}
.head{
    background-color: var(--batman);
    width: 4vmin;
    height: 5vmin;
    top: -33.8vmin;
    left: 0vmin;
}
.head-radius{
    top: -27.6vmin;
    background: black;
    z-index: 9999999999999999;
    border-radius: 100% 100% 0 0;
}




[class*=circle-1]{
    width: 10vmin;
    height: 10vmin;
    background-color: var(--batman);
    left: -31vmin;
    top: 20vmin;
    border-radius: 100%;
}
.right-circle-1{
    left: 31vmin;
}


[class*=circle-2]{
    width: 9.8vmin;
    height: 15vmin;
    background-color: var(--batman);
    top: 24.6vmin;
    left: -13vmin;
    transform: rotate(344deg);
    border-radius: 100% 100% 0px 100%;
}
.right-circle-2{
    left: 13vmin;
    
    border-radius: 100% 100% 100% 0px;
    transform: rotate(-344deg);
}
 /* .right-circle-2{
     */

.left{
    width: 8vmin;
    height: 5vmin;
    left: -25vmin;
    top: 29vmin;
    background-color: var(--batman);
}
.right{
    width: 8vmin;
    height: 5vmin;
    left: 25vmin;
    top: 29vmin;
    background-color: var(--batman);
}
