.background{
    background-color: #ffea00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.batman-container{
    height: 300px;
    width: 465px;
    border-radius: 100%;
    padding: 17px;
    border: 20px solid #000000;
}
.batman{
    background: #000000;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}